/*-Developed By YOUSSEF ALADAWI-*/

*{
    font-family: 'Poppins', sans-serif;
}
body {
    text-align: center;
    padding-top: 200px;
    background-color: #000f14;
}
input{
    background-color: #e7e7e7;
    color: #000000;
    text-align: center;
    height: 160px;
    width: 380px;
    font-size: 20px;
    border: 1px solid #00ffbf;
    border-radius: 20px;
    transition: 0.7s;
}
input:hover{
    border: 5px solid rgb(0, 255, 191);
    border-radius: 20px;
    padding: 10px;
    transition: 0.7s;
}
p{
    color: rgb(33, 182, 145);
    font-size: 25px;
}
button{
    background: none;
    color: rgb(0, 255, 191);
    border: 1px solid rgb(0, 255, 191);
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: rgb(0, 255, 191);
    color: black;
    transition: 0.5s;
}